<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="example suite 1" verbose="1">

    <!-- <test name="Regression suite 1">
         <classes>
             <class name="test._1_BasicScript"/>
             <class name="test._2_SecondTestCase"/>
         </classes>
     </test>-->


    <test name="Car loan">
        <classes>
            <class name="_3_ThirdTestCases">
                <methods>
                    <include name="WebLoginCarLoan"/>
                    <include name="LoginApiCarLoan"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Home loan">
        <classes>
            <class name="_4_FourthTestCases">
                <methods>
                    <exclude name="Mobile.*"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>