<?xml version="1.0" encoding="UTF-8"?>
<suite name="example suite 1" verbose="1" >
    <test name="Regression suite 1" >
        <classes>
            <class name="_1_BasicScript"/>
            <class name="_2_SecondTestCase"/>
        </classes>
    </test>

    <test name="Car loan" >
        <classes>
            <class name="_3_ThirdTestCases"/>
        </classes>
    </test>

    <test name="Home loan" >
        <classes>
            <class name="_4_FourthTestCases"/>
        </classes>
    </test>

</suite>